---
import Navbar from "../components/Header.astro"
import Navbarprincipal from "../components/Navbar.astro"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Pagina en Blanco</title>
    </head>
    <body>
        <Navbar />
		<Navbarprincipal />
    </body>
</html>