<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <h1>Hospital Comercial</h1>
            <ul>
                <li> <a href="http://localhost:4321/">INICIO</a></li>
                <li> <a href="#">LOG IN</a></li>
                <li> <a href="#">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <style>
        nav{
            display: flex;
            align-items:space-between;
            justify-content: space-between;
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
            font-weight: bold;
            }
        h1{
            color: #fff;
            font-size: 45px;
        }    
        ul li{
            display: inline-block;
            padding: 0px 20px;
        }
        a{
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            color: #8000ff;
        }

    </style>
</body>
</html>